:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.card {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  width: fit-content;
  padding: 1rem;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem;

  img {
    width: 100%;
    border-radius: 10px;
  }

  p {
    font-family: monospace;
  }
}
